---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ezequiel Santalla</div>
    <div class="text-3xl py-3 font-bold">
      Software Developer and Entrepreneur
    </div>
    <div class="py-2">
      <text class="text-lg">
        I'm a Programming Technician Student with 1 year of experience creating
        web applications. I like to innovate and work as a team generating
        solutions to complex problems.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn mr-8 bg-black text-white transform transition-transform duration-300 ease-in-out hover:scale-[105%] hover:bg-black"
        href="https://www.linkedin.com/in/ezesantalla/"
        target="_blank"
      >
        <p>Let's connect!</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          width="32px"
          height="32px"
          ><path
            fill="#0288D1"
            d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"
          ></path><path
            fill="#FFF"
            d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"
          ></path></svg
        >
      </a>
      <a
        class="btn ml-8 bg-black text-white transform transition-transform duration-300 ease-in-out hover:scale-[105%] hover:bg-black"
        href="../../public/ezequiel-santalla-cv-eng.pdf"
        target="_blank"
        download
      >
        <p>Download CV</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-file-text"
          ><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
          ></path><polyline points="14 2 14 8 20 8"></polyline><line
            x1="16"
            y1="13"
            x2="8"
            y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline
            points="10 9 9 9 8 9"></polyline></svg
        >
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Gac Store"
    img="/gac_store.png"
    desc="Ecommerce created for Gac Store company. Selling laser engravers, 3D printers, 3D scanners. Webpage made with React, Bootstrap, React Bootstrap components and Firestore"
    url="https://main--astonishing-blini-5639ec.netlify.app/"
    badge="COMING"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="F1 | Shop"
    img="/f1-shop.png"
    desc="Formula 1 ecommerce created with React, Tailwind CSS and with a database in Firestore"
    url="https://f1-shop.vercel.app/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bookstore"
    img="/bookstore.png"
    desc="Bookstore ecommerce create with HTML, JavaScript, Bootstrap, and SCSS"
    url="https://ezequiel-santalla.github.io/bookstore/"
  />
</BaseLayout>
